*{
    margin:0;
    box-sizing :border-box;
}
.logo{
    background-color:#fff;
    padding: 10px;
    width:70px;
    height: 70px;
    border-radius: 50%;
}
.logo img{
    width:50px;
}
body{
    background-color: #707070;
}
header{
    display:grid;
    grid-template-columns: auto 1fr;
    gap:30px;
    align-items: center;
    padding: 20px 0;
}
.search_bar input{
    width:100%;
    padding:15px;
    border-radius: 40px;
    border: solid 1px #707070;
}

.main_container{
    padding: 0 15px;
    max-width: 1024px;
    margin: auto;

}
main{
    background-color: #fff;
    padding: 15px 0;
}
h1{
    background-color: #f04f4f;
    margin: auto;
    width: fit-content;
    padding: 10px 25px;
    color:#fff;
    border-radius: 40px;

}
marquee{
    background-color: #f3f5c5;
    color: #FF0000;
    border:1px solid #707070;
    margin:20px 0;
    padding: 5px 0;
}
.main_section_container{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap:15px;
    padding: 20px;
}
.department_title{
    background-color:#3D4F68 ;
    color: #fff;
    padding: 10px;
    font-size: 24px;
    text-align:center ;
    border-radius:15px 35px ;
}
.department_card_main_section{
    background-color: #EECCCC;
    border: 1px solid #707070;
    margin:20px 10px;
}
.department_card_image img{
    width:100%

}