*{
    margin:0;
    box-sizing :border-box;
}
.logo{
    background-color:#fff;
    padding: 10px;
    width:70px;
    height: 70px;
    border-radius: 50%;
}

body{
    background-image:url(./thisisengineering-raeng-uyfohHiTxho-unsplash-1024x683.png) ;
    background-size: 100%;
    background-repeat: no-repeat;
}
header{
    display:grid;
    grid-template-columns: auto 1fr;
    gap:30px;
    align-items: center;
    padding: 20px 0;
}
.search_bar input{
    width:100%;
    padding:15px;
    border-radius: 40px;
    border: solid 1px #707070;
}

.main_container{
    padding: 0 15px;
    max-width: 1024px;
    margin: auto;

}
main{
    background-color: #fff;
    padding: 15px 0;
    border-radius: 50px;
}
h1{
    background-color: #f04f4f;
    margin: auto;
    width: fit-content;
    padding: 10px 25px;
    color:#fff;
    border-radius: 40px;
    

}
marquee{
    background-color: #f3f5c5;
    color: #FF0000;
    border:1px solid #707070;
    border-top: 1px solid #707070;
    margin:20px 0;
    padding: 5px 0;
}
.main_section_container{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap:15px;
    padding: 20px;
}
.department_title{
    background-color:#3D4F68 ;
    color: #fff;
    padding: 10px;
    font-size: 24px;
    text-align:center ;
    border-radius:15px 35px ;
}
.department_card_main_section{
    background-color: #EECCCC;
    border: 1px solid #707070;
    padding: 10px;
    margin:20px 10px;
}
.department_card_image img{
    width:100%;
    border-radius: 50px;
    border: 1px solid #707070;
}
.department_card_sub_section{
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
.enroll_button{
    padding: 8px 15px;
    background-color: #7fb80d;
    color: #fff;
    border-radius: 20px;
    margin-top: 10px;
    border:1px solid #707070;
}
footer{
    margin-top: 30px;
    background-color: #3D4F68;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.footer_link_section{
    font-size: 20px;
    margin-bottom: 10px;
}
@media screen and (max-width:1000px) {
    .main_section_container{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media screen and (max-width:500px) {
    .main_section_container{
        grid-template-columns: repeat(1,1fr);
    }   
}
@media screen and (max-width:360px) {
    header{
        gap:10px;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    h1{
        font-size: 20px;
    }
    .search_bar input{
        padding: 10px;
    }
    
}